.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
   
}
a {
    text-decoration: none;
    color:rgb(175, 4, 4);
}
li {
    list-style-type: none;
    /* background-color: white; */
}

.outer {
     height: 400px;
     width: 400px;
     background-color: rgb(233, 236, 7);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .inner {
    height: 200px;
    align-self: self-start;
    width: 200px;
    background-color: rgb(205, 50, 146)

 }